@mixin mobile{
    @media screen and (max-width:480px){
        @content;
    }
}
@mixin tablet{
    @media screen and (max-width:768px){
        @content;
    }
}
@mixin laptop{
    @media screen and (max-width:1200px){
        @content;
    }
}

.App{
    font-family: 'Futura Futuris', sans-serif;  
}
.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formWrapper{
    // width:50%;
    background-color: white;
    padding: 20px 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    .logo{
        // padding-bottom: 27%; ;
        align-items: center;
        color:#5d5b8b;
        
        img{

            width: 160px;
            height: 160px;
        }
    }
    .title{
        color:#5d5b8b;
        
        font-weight: 500;
        font-size: 30px;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 15px;
        input{
            padding:  15px;
            border: none;
            outline: none;
            border-bottom: 1px solid#a7bcff;
            &::placeholder{
                color: #5d5b8b
            }
            
        }
        label{
            display: flex;
            align-items: center;
            gap:10px;
            color:#5d5b8b;
            font-weight: 12px;
            img{
                width: 30px;
                height: auto;
            }
        }
        button{
            // width:70%;
            background-color: #7b96ec;
            border-radius: 10px;
            color:white;
            padding:10px;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }
    }
    p{
        color:#5d5b8b;
        font-size: 12px;
        margin-top: 10px;
    }
}

.home{
    background-color: #ddddf7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        width:100%;
        height:100%;
        display: flex;
        overflow: hidden;
        .sidebar{
            flex:1;
            background-color: #3e3c61;
            .navbar{
                display: flex;
                align-items: center;
                background-color: #2f2d52;
                height:50px;
                padding: 10px;
                justify-content: space-between;
                color:#ddddf7;
                .logo{
                    display: flex;
                    justify-content: center;
                    img{
                        height:50px;
                        width:50px;
                    }
                    .title{
                        padding-top: 10px;
                        font-weight: bolder;
                        font-size: 30px;
                        font-family: 'Futura Futuris', sans-serif;
                        @media screen and (max-width: 768px) {
                            display: none;
                          }
                    }
                    // @include tablet{
                    //     display: none;
                    // }
                    
                }
                .user{
                    display: flex;
                    gap:10px;
                    
                    img{
                        background-color: #ddddf7;
                        height:35px;
                        width:35px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    button{
                        background-color: #5d5b8b;
                        color:#ddddf7;
                        font-size:17px;
                        border:none;
                        border-radius: 5px;
                        cursor: pointer;
                        
                    }
                    span{
                        padding-top: 10px;
                        font-size:15px;
                        @media screen and (max-width: 900px) {
                            display: none;
                          }
                    }
                }
                
            }
            
            .searchBar {
                width: 95%;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px 10px 10px 10px;
                #searchQueryInput {
                  padding-right: 10px;
                  width: 100%;
                  height: 2.8rem;
                  background: lightgray;
                  outline: none;
                  border: none;
                  border-radius: 1.625rem;
                  padding: 0 3.5rem 0 1.5rem;
                  font-size: 1rem;
                }
                
                #searchQuerySubmit {
                  width: 3.5rem;
                  height: 2.8rem;
                  margin-left: -3.5rem;
                  background: none;
                  border: none;
                  outline: none;
                }
                
                #searchQuerySubmit:hover {
                  cursor: pointer;
                }
              }
              
            .chats{
                height: calc(100% - 20px);
                overflow-y: scroll;

                & {
                    scrollbar-width: thin;
                    scrollbar-color: transparent transparent;
                  }
                
                //   Hide scrollbar for Webkit browsers
                  &::-webkit-scrollbar {
                    width: 5px;
                  }
                
                  &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                  }
                
                  &::-webkit-scrollbar-track {
                    background-color: transparent;
                  }
                
                  // Show scrollbar without outline on hover
                  &:hover {
                    // scrollbar-color: black;
                
                    &::-webkit-scrollbar-thumb {
                      background-color: gray;
                      border-radius: 5px;
                    }
                  }
            }
            .userChat{
                padding: 10px;
                display: flex;
                align-items: center;
                // justify-content: space-between;
                gap:10px;
                color:white;
                cursor: pointer;
                &:hover{
                    background-color: #2f2d52;
                }
                img{
                    // background-color: #ddddf7;
                    height:50px;
                    width:50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .userChatInfo{
                    span{
                        font-size:18px;
                        font-weight: 500;
                    }
                    p{
                        // font-family: 'Futura Futuris', sans-serif;
                        font-size: 14px;
                        color: lightgrey;
                    }
                }
            }
        }
        .chat{
            flex:2;
            .chatInfo{
                height: 50px;
                background-color: #5d5b8b;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color:lightgray;
                span{
                    font-weight: bold;
                    font-size: 25px;
                }
            }
            .chatIcons{
                display: flex;
                gap:10px;
                img{
                    height: 24px;
                    cursor: pointer;
                }
                
            }
            .messages{
                background-color: #ddddf7;
                padding: 10px;
                height: calc(100% - 150px);
                overflow-y: scroll;

                & {
                    scrollbar-width: thin;
                    scrollbar-color: transparent transparent;
                  }
                
                //   Hide scrollbar for Webkit browsers
                  &::-webkit-scrollbar {
                    width: 5px;
                  }
                
                  &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                  }
                
                  &::-webkit-scrollbar-track {
                    background-color: transparent;
                  }
                
                  // Show scrollbar without outline on hover
                  &:hover {
                    // scrollbar-color: black;
                
                    &::-webkit-scrollbar-thumb {
                      background-color: gray;
                      border-radius: 5px;
                    }
                  }
                .message{
                    display: flex;
                    gap:20px;
                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 10px;
                        img{
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    .messageContent{
                        max-width: 50%;
                        height: 40%;
                        display: flex;
                        flex-direction: column;
                        gap:10px;
                        p{
                            background-color: white;
                            padding: 10px 20px;
                            border-radius: 10px 10px 10px 10px;
                            max-width: max-content;
                        }
                        img{
                            width: 50%;
                        }
                    }
                    &.owner{
                        flex-direction: row-reverse;
                        .messageContent{
                            align-items: flex-end;
                            p{
                                background-color: #8da4f1;
                                color:white;
                                border-radius: 20px 20px 20px 20px;
                            }
                        }
                    }
                }
            }
            .parInput{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px ;
                .input{
                    width: 95%;
                    height: 20px;
                    background-color: white;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 40px;
                    input{
                        width: 100%;
                        border: none;
                        outline: none;
                        color:#2f2d52;
                        font-size: 18px;
    
                        &::placeholder{
                            color:lightgrey;
                        }
                    }
                    .send{
                        display: flex;
                        align-items:center;
                        justify-content: space-between;
                        gap:10px; 
                        img{
                            height: 24px;
                            cursor: pointer;
                        }  
                        button{
                            border: none;
                            padding: 10px 15px;
                            color:white;
                            // background-color: #8da4f1;
                            cursor: pointer;
                        }                 
                    }
                }
            }
        }
    }

}

